################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/Ukol_OperatorBuisnessMan-Advanced/bin/Debug
/Ukol_OperatorBuisnessMan-Advanced/obj/Debug
